<button mat-raised-button color="primary" 
  *ngIf="showform == false; else formshow" 
  (click)="show()">Create Standard for Course</button>

<ng-template #formshow>

  <form novalidate [formGroup]="form">
    <div class fxLayout="column">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Standard No" formControlName="standardno">
      </mat-form-field>

      <mat-form-field>
          <mat-select formControlName="standardtype" placeholder="Standard Type">
            <mat-option value="AS">Achievement</mat-option>
            <mat-option value="US">Unit</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-select formControlName="assessmenttype" placeholder="Assessment Type">
            <mat-option value="Internal">Internal</mat-option>
            <mat-option value="External">External</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
          <mat-select formControlName="credits" placeholder="Credits">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="11">11</mat-option>
            <mat-option value="12">12</mat-option>
            <mat-option value="13">13</mat-option>
            <mat-option value="14">14</mat-option>
          </mat-select>
      </mat-form-field>
    
      <!-- <mat-form-field>
          <mat-select formControlName="literacy_numeracy" placeholder="Literacy / Numeracy">
            <mat-option value="L1 Literacy">L1 Literacy</mat-option>
            <mat-option value="L1 Numeracy">L1 Numeracy</mat-option>
            <mat-option value="L1 Literacy and Numeracy">L1 Literacy and Numeracy</mat-option>
            <mat-option value="Reading Literacy">Reading Literacy</mat-option>
            <mat-option value="Writing Literacy">Writing Literacy</mat-option>
            <mat-option value="Writing Literacy and Reading Literacy">Writing Literacy and Reading Literacy</mat-option>
          </mat-select>
      </mat-form-field>
    
      
    
     
    
      
    
      <mat-form-field>
          <input matInput placeholder="Domain" formControlName="domain">
      </mat-form-field>
    
      <mat-form-field>
          <input matInput placeholder="Subfield" formControlName="subfield">
      </mat-form-field>
    
      <mat-form-field>
          <mat-select formControlName="level" placeholder="Assessment level">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
      </mat-form-field> -->
     
    
    
    </div>
    <button mat-button (click)="save()" color="primary">Save</button>
    
    </form>
</ng-template>


<ng-template #loading><mat-spinner></mat-spinner></ng-template>
<ng-container *ngIf="(course$| async) as course; else loading">
  <mat-card class="card-1">
    <mat-card-header>
      <mat-card-title>
        <span class="title">{{ course.subject_code }}</span>
        <span>{{ course.title }}</span></mat-card-title>
        <span fxFlex></span>
        <mat-chip-list>
          <mat-chip>{{course.faculty}}</mat-chip>
        </mat-chip-list>

      <mat-card-subtitle>
        <span class="title">Level {{course.year_level}}</span>
        <br> 
        <span *ngIf="course.course_endorsable == 'Yes'; else: courseno">Course Endorsable</span>
        <ng-template #courseno>
        <span >No Endorsement</span>
       </ng-template>
        <br>
        <a href = "mailto: abc@example.com">{{course.teacher_in_charge}}</a>     
        <br>
        <!-- <div class="title">Level {{course.year_level}}</div> -->
        <br>
        
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://source.unsplash.com/collection/151521/300x100" alt="Picture">
    <mat-card-content>
      {{ course.course_information}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button (click)="remove(course.id)">
            <mat-icon>delete</mat-icon>
        </button>
      <span fxFlex></span>
      <a routerLink="{{course.id}}"><button mat-icon-button aria-label="Example icon-button with a heart icon">
          <mat-icon>arrow_forward</mat-icon>
        </button></a>
    </mat-card-actions>
  </mat-card>
</ng-container>


<div class="example-container">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let standard of standards$ | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <span>{{standard.standardtype}}{{ standard.standardno }}</span>
                <span fxFlex></span>
                <span>{{standard.credits}}</span>
            </mat-panel-title>
            <mat-panel-description>
                <span>{{ standard.title }}</span>
                <span fxFlex></span>
                <span>{{standard.assessmenttype}}</span>                
            </mat-panel-description>
          </mat-expansion-panel-header>
        <p>Inside the Panel</p>
        </mat-expansion-panel>
    </mat-accordion>



    <!-- <mat-card class="example-full-width" *ngFor="let standard of standards$ | async">
        <mat-card-header>
          <mat-card-title>{{ standard.title }}</mat-card-title>
          <mat-card-subtitle>{{ standard.faculty }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <a routerLink="{{standard.id}}"><button class="btn btn-success pull-right" >Go</button></a>
        </mat-card-actions>
    </mat-card> -->
</div>
  

