button {
  margin: 3px;
}
.card-1 {  
  margin: 5px;
  min-width: 300px;
}

.title {
  padding-right: 6px;
  color: black;
  font-style: oblique;
}

mat-divider {
  padding-top: 5px;
  padding-bottom: 8px;
}

.matover {
  min-width: 100px;
  overflow: hidden;
}

span {
  margin-left: 8px;
}

p {
  margin: 0;
  padding: 2px;
}