<mat-card fxFlex="0 1 calc(33.3% - 32px)" class="card-1">
    <mat-card-header>
      <mat-card-title>
        <span class="title">{{ course.subject_code }}</span>
        <span>{{ course.subject_name }}</span></mat-card-title>
        <span fxFlex></span>
        <mat-chip-list>
          <mat-chip>{{course.faculty}}</mat-chip>
        </mat-chip-list>

      <mat-card-subtitle>
        <span class="title">Level {{course.year_level}}</span>
        <br> 
        <span *ngIf="course.course_endorsable == 'Yes'; else: courseno">Course Endorsable</span>
        <ng-template #courseno>
        <span >No Endorsement</span>
       </ng-template>
        <br>
        <a href = "https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=target@email.com">{{course.teacher_in_charge}}</a>     
        <br>
        <!-- <div class="title">Level {{course.year_level}}</div> -->
        <br>
        
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://source.unsplash.com/collection/151521/300x100" alt="Picture">
    <mat-card-content>
      {{ course.course_information}}
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="auth.as.authState | async" mat-icon-button (click)="remove(course.id)">
            <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="auth.as.authState | async" mat-icon-button aria-label (click)="addCourse(course.id, useruid )">
            <mat-icon>add</mat-icon>
         </button>
      <span fxFlex></span>
      <a routerLink="{{course.id}}"><button mat-icon-button aria-label="Example icon-button with a heart icon">
          <mat-icon>arrow_forward</mat-icon>
        </button></a>
    </mat-card-actions>
  </mat-card>